<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<title>Emails list</title>
	<link rel="stylesheet" href="style.css" />
	<link rel="stylesheet" href="style-index.css" />
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous" />

</head>
<body>
	<div class="container">
		<div class="panel panel-primary">
			<a href="http://localhost:8080/index" class="btn btn--orange btn--big">
				<span class="btn__request">Home</span>
			</a>

			<div class="panel-hedding">The list of emails :</div>
			<div class="panel-body">
				<table class="table">
					<tr>
						<th>ID</th>
						<th>Customer number</th>
						<th>Status</th>
						<th>Create date</th>
						<th>Message</th>
						<th>Queue name</th>
					</tr>
					<tr th:each="p:${emailList}">
						<td th:text="${p.id}"></td>
						<td th:text="${p.customerNumber}"></td>
						<td class="table--tr--td_bold-green" th:text="${p.status}"></td>
						<td th:text="${p.createDate}"></td>
						<td th:text="${p.message}"></td>
						<td class="table--tr--td_bold-green" th:text="${p.queueName}"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>