<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"></meta>
	<title>Notation BEM en CSS</title>
	<link rel="stylesheet" href="style-index.css" />
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		  crossorigin="anonymous" />
</head>

<body>

	<a href="http://localhost:8080/add-emails" class="btn btn--orange btn--big">
		<span class="btn__request">Add emails</span>
	</a>

	<a href="http://localhost:8080/send" class="btn btn--green btn--big">
		<span class="btn__request">Send to queue</span>
	</a>

	<a href="http://localhost:8080/all-view" class="btn btn--blue btn--big">
		<span class="btn__request">All view</span>
	</a>


	<a href="http://localhost:8080/view/TO_SEND" class="btn btn--indian-red btn--big">
		<span class="btn__request">Emails to send</span>
		<span class="btn__text">List</span>
	</a>

	<a href="http://localhost:8080/view/SENT_TO_QUEUE" class="btn btn--light-salmon btn--big">
		<span class="btn__request">Emails sent to queue</span>
		<span class="btn__text">List</span>
	</a>

	<a href="http://localhost:8080/view/SENT_TO_CUSTOMER" class="btn btn--green-2 btn--big">
		<span class="btn__request">Emails sent to customer</span>
		<span class="btn__text">List</span>
	</a>

</body>

</html>